<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ProteusThemes">

    <!--  Google Fonts  -->
    <link href='http://fonts.googleapis.com/css?family=Pacifico|Open+Sans:400,700,400italic,700italic&amp;subset=latin,latin-ext,greek' rel='stylesheet' type='text/css'>

    <!-- Twitter Bootstrap -->
    <link href="~/Content/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="~/Content/stylesheets/responsive.css" rel="stylesheet">
    
    <!-- Slider Revolution -->
    <link rel="stylesheet" href="~/Content/js/rs-plugin/css/settings.css" type="text/css" />
    
    <!-- jQuery UI -->
    <link rel="stylesheet" href="~/Content/js/jquery-ui-1.10.3/css/smoothness/jquery-ui-1.10.3.custom.min.css" type="text/css" />
    
    <!-- PrettyPhoto -->
    <link rel="stylesheet" href="~/Content/js/prettyphoto/css/prettyPhoto.css" type="text/css" />
    
    <!-- main styles -->
    <link href="~/Content/stylesheets/main.css" rel="stylesheet">

    <!-- Modernizr -->
    <script src="~/Content/js/modernizr.custom.56918.js"></script>

    <!--  ==========  -->
    <!--  = JavaScript =  -->
    <!--  ==========  -->

    <script>
            function submitLogIn() {
                if (!document.getElementById("inputEmail").value == "saeedzhiany@gmail.com") {
                    document.getElementById("usernameShow").style.display = "";
                    document.getElementById("loginOrRegister").style.display = "";
                }
            }
    </script>

    <!--  = jQuery - CDN with local fallback =  -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
            if (typeof jQuery == 'undefined') {
                document.write('<script src="~/Content/js/jquery.min.js"><\/script>');
            }
    </script>

    <!--  = _ =  -->
    <script src="~/Content/js/underscore/underscore-min.js" type="text/javascript"></script>

    <!--  = Bootstrap =  -->
    <script src="~/Content/js/bootstrap.min.js" type="text/javascript"></script>

    <!--  = Slider Revolution =  -->
    <script src="~/Content/js/rs-plugin/pluginsources/jquery.themepunch.plugins.min.js" type="text/javascript"></script>
    <script src="~/Content/js/rs-plugin/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>

    <!--  = CarouFredSel =  -->
    <script src="~/Content/js/jquery.carouFredSel-6.2.1-packed.js" type="text/javascript"></script>

    <!--  = jQuery UI =  -->
    <script src="~/Content/js/jquery-ui-1.10.3/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery-ui-1.10.3/touch-fix.min.js" type="text/javascript"></script>

    <!--  = Isotope =  -->
    <script src="~/Content/js/isotope/jquery.isotope.min.js" type="text/javascript"></script>

    <!--  = Tour =  -->
    <script src="~/Content/js/bootstrap-tour/build/js/bootstrap-tour.min.js" type="text/javascript"></script>

    <!--  = PrettyPhoto =  -->
    <script src="~/Content/js/prettyphoto/js/jquery.prettyPhoto.js" type="text/javascript"></script>

    <!--  = Custom JS =  -->
    <script src="~/Content/js/custom.js" type="text/javascript"></script>

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/images/apple-touch/144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/images/apple-touch/114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/images/apple-touch/72.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/images/apple-touch/57.png">
    <link rel="shortcut icon" href="~/Content/images/apple-touch/57.png">

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>

<body class="">

    <div class="master-wrapper">

        <!--  ==========  -->
        <!--  = Header =  -->
        <!--  ==========  -->
        <header id="header">
            <div class="container">
                <div class="row">
                    <!--  ==========  -->
                    <!--  = Logo =  -->
                    <!--  ==========  -->
                    <div class="span7">
                        <a class="brand" href="index.html">
                            <img src="~/Content/images/logo.png" alt="Webmarket Logo" width="48" height="48" />
                            <span class="pacifico">SAAN Market</span>
                        </a>فروشگاه اینترنتی سان مارکت
                        <div id="usernameShow" style="display:none">
                            <a href="profile.html" role="button" data-toggle="modal">سعید ژیانی</a>
                        </div>
                        <div id="loginOrRegister" class="register">
                            <a href="#loginModal" role="button" data-toggle="modal">ورود</a> یا
                            <a href="#registerModal" role="button" data-toggle="modal">ثبت نام</a>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </header>

        <!--  ==========  -->
        <!--  = Main Menu / navbar =  -->
        <!--  ==========  -->
        <div class="navbar navbar-static-top" id="stickyNavbar">
            <div class="navbar-inner">
                <div class="container">
                    <div class="row">
                        <div class="span9">

                            <!--  ==========  -->
                            <!--  = Menu =  -->
                            <!--  ==========  -->
                            <div class="nav-collapse collapse">
                                <ul class="nav" id="mainNavigation">
                                    <li class="dropdown ">
                                        <a href="index.html"> خانه  </a>
                                    </li>
                                    <li class="dropdown ">
                                        <a href="shop.html" class="dropdown-toggle"> فروشگاه </a>
                                    </li>
                                    <li class="dropdown ">
                                        <a href="blog.html" class="dropdown-toggle">بلاگ</a>
                                    </li>
                                    <li class="dropdown ">
                                        <a href="features.html" class="dropdown-toggle">امکانات </a>
                                    </li>
                                    <li class="dropdown "><a href="about-us.html">درباره ما</a></li>
                                    <li class="dropdown "><a href="contact.html">تماس با ما</a></li>
                                </ul>

                                <!--  ==========  -->
                                <!--  = Search form =  -->
                                <!--  ==========  -->
                                <form class="navbar-form pull-right" action="#" method="get">
                                    <button type="submit"><span class="icon-search"></span></button>
                                    <input type="text" class="span1" name="search" id="navSearchInput">
                                </form>
                            </div><!-- /.nav-collapse -->
                        </div>

                        <!--  ==========  -->
                        <!--  = Cart =  -->
                        <!--  ==========  -->
                        <div class="span3">
                            <div class="cart-container" id="cartContainer">
                                <div class="cart">
                                    <p class="items">سبد خرید <span class="dark-clr">(3)</span></p>
                                    <p class="dark-clr hidden-tablet">$1816.90</p>
                                    <a href="checkout-step-1.html" class="btn btn-danger">
                                        <!-- <span class="icon icons-cart"></span> -->
                                        <i class="icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <div class="open-panel">

                                    <div id="myBuyProduct" class="item-in-cart clearfix">
                                        <div class="image">
                                            <img src="~/Content/images/dummy/cart-items/cart-item-1.jpg" width="124" height="124" alt="cart item" />
                                        </div>
                                        <div class="desc">
                                            <strong><a href="product.html">کلاه زمستانی</a></strong>
                                            <span class="light-clr qty">
                                                تعداد : 1
                                                &nbsp;
                                                <a href="#" class="icon-remove-sign" title="Remove Item"></a>
                                            </span>
                                        </div>
                                        <div class="price">
                                            <strong>$6393</strong>
                                        </div>
                                    </div>

                                    <div class="item-in-cart clearfix">
                                        <div class="image">
                                            <img src="~/Content/images/dummy/cart-items/cart-item-2.jpg" width="124" height="124" alt="cart item" />
                                        </div>
                                        <div class="desc">
                                            <strong><a href="product.html">کمربند اسپورت</a></strong>
                                            <span class="light-clr qty">
                                                تعداد : 1
                                                &nbsp;
                                                <a href="#" class="icon-remove-sign" title="Remove Item"></a>
                                            </span>
                                        </div>
                                        <div class="price">
                                            <strong>$4837</strong>
                                        </div>
                                    </div>

                                    <div class="item-in-cart clearfix">
                                        <div class="image">
                                            <img src="~/Content/images/dummy/cart-items/cart-item-3.jpg" width="124" height="124" alt="cart item" />
                                        </div>
                                        <div class="desc">
                                            <strong><a href="product.html">کیف پول مردانه</a></strong>
                                            <span class="light-clr qty">
                                                تعداد : 1
                                                &nbsp;
                                                <a href="#" class="icon-remove-sign" title="Remove Item"></a>
                                            </span>
                                        </div>
                                        <div class="price">
                                            <strong>$3573</strong>
                                        </div>
                                    </div>

                                    <div class="summary">
                                        <div class="line">
                                            <div class="row-fluid">
                                                <div class="span6 align-right">$4.99</div>
                                                <div class="span6">هزینه ارسال :</div>
                                            </div>
                                        </div>
                                        <div class="line">
                                            <div class="row-fluid">
                                                <div class="span6 align-right size-16">$357.81</div>
                                                <div class="span6">جمع کل :</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="proceed">
                                        <a href="checkout-step-1.html" class="btn btn-danger pull-right bold higher">تصویه حساب <i class="icon-shopping-cart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /cart -->
                    </div>
                </div>
            </div>
        </div> <!-- /main menu -->

        <div>
            @RenderBody()
            <hr />

            <!--  ==========  -->
            <!--  = Footer =  -->
            <!--  ==========  -->
            <footer>

                <!--  ==========  -->
                <!--  = Upper footer =  -->
                <!--  ==========  -->
                <div class="foot-dark">
                    <div class="container">
                        <div class="row">

                            <!--  ==========  -->
                            <!--  = Menu 1 =  -->
                            <!--  ==========  -->
                            <div class="span3">
                                <div class="main-titles lined">
                                    <h3 class="title"><span class="light">ناوبری</span> اصلی</h3>
                                </div>
                                <ul class="nav bold">
                                    <li><a href="#">خانه</a></li>
                                    <li><a href="#">درباره ما</a></li>
                                    <li><a href="#">تماس با ما</a></li>
                                </ul>
                            </div>

                            <!--  ==========  -->
                            <!--  = Menu 2 =  -->
                            <!--  ==========  -->
                            <div class="span3">
                                <div class="main-titles lined">
                                    <h3 class="title"><span class="light">دومین</span> ناوبری</h3>
                                </div>
                                <ul class="nav">
                                    <li><a href="https://github.com/saeed-zh/saan-market">آدرس پروژه در گیت هاب</a></li>
                                    <li><a href="#">آدرس سایت مدیریت پروژه</a></li>
                                </ul>
                            </div>


                            <div class="container">
                                <div class="row">
                                    <div class="span6">
                                        <h2 class="pacifico">SAAN Market &nbsp; <img src="~/Content/images/webmarket.png" alt="Webmarket Cart" class="align-baseline" /></h2>
                                        <p>این یک نوشته آزمایشی است. شما میتوانید این قسمت را با نوشته های دلخواه خود که مناسب این ناحیه باشند پر نمایید. ما این بخش را با نوشته هایی بی معنی پر کرده ایم.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div> <!-- /upper footer -->
                <!--  ==========  -->
                <!--  = Bottom Footer =  -->
                <!--  ==========  -->
                <div class="foot-last">
                    <a href="#" id="toTheTop">
                        <span class="icon-chevron-up"></span>
                    </a>
                </div> <!-- /bottom footer -->

            </footer> <!-- /footer -->
            <!--  ==========  -->
            <!--  = Modal Windows =  -->
            <!--  ==========  -->
            <!--  = Login =  -->
            <div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="loginModalLabel"><span class="light">ورود</span> به سان مارکت</h3>
                </div>
                <div class="modal-body">
                    <form method="post" action="#">
                        <div class="control-group">
                            <label class="control-label hidden shown-ie8" for="inputEmail">نام کاربری</label>
                            <div class="controls">
                                <input type="text" class="input-block-level" id="inputEmail" placeholder="Username">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label hidden shown-ie8" for="inputPassword">رمز عبور</label>
                            <div class="controls">
                                <input type="password" class="input-block-level" id="inputPassword" placeholder="Password">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    مرا به خاطر بسپار
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary input-block-level bold higher" onclick="submitLogIn()">
                            ورود
                        </button>
                    </form>
                    <p class="center-align push-down-0">
                        <a href="#" data-dismiss="modal">رمز عبورتان را فراموش کرده اید؟</a>
                    </p>
                </div>
            </div>

            <!--  = Register =  -->
            <div id="registerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="registerModalLabel"><span class="light">عضویت</span> در سان مارکت </h3>
                </div>
                <div class="modal-body">
                    <form method="post" action="#">
                        <div class="control-group">
                            <label class="control-label hidden shown-ie8" for="inputUsernameRegister">نام کاربری</label>
                            <div class="controls">
                                <input type="text" class="input-block-level" id="inputUsernameRegister" placeholder="Username">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label hidden shown-ie8" for="inputEmailRegister">ایمیل</label>
                            <div class="controls">
                                <input type="email" class="input-block-level" id="inputEmailRegister" placeholder="Email">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label hidden shown-ie8" for="inputPasswordRegister">رمز عبور</label>
                            <div class="controls">
                                <input type="password" class="input-block-level" id="inputPasswordRegister" placeholder="Password">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger input-block-level bold higher">
                            عضویت
                        </button>
                    </form>
                    <p class="center-align push-down-0">
                        <a data-toggle="modal" role="button" href="#loginModal" data-dismiss="modal">قبلا ثبت نام کرده اید؟</a>
                    </p>

                </div>
            </div>

        </div>
    </div> <!-- end of master-wrapper -->
</body>

</html>