
@{
    ViewBag.Title = "همه محصولات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<div class="container">
    <div class="push-up">
        <div class="row">

            <!--  ==========  -->
            <!--  = Sidebar =  -->
            <!--  ==========  -->
            <aside class="span3 left-sidebar">
                <div class="sidebar-item sidebar-filters" id="sidebarFilters">

                    <!--  ==========  -->
                    <!--  = Sidebar Title =  -->
                    <!--  ==========  -->
                    <div class="underlined">
                        <h3><span class="light">بر اساس فیلتر</span> خرید کنید</h3>
                    </div>

                    <!--  ==========  -->
                    <!--  = Categories =  -->
                    <!--  ==========  -->
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" href="#filterOne">دسته بندی ها <b class="caret"></b></a>
                        </div>
                        <div id="filterOne" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                <a href="#" data-target=".filter--accessories" class="selectable"><i class="box"></i> موبایل</a>
                                <a href="#" data-target=".filter--bags, .filter--hats" class="selectable"><i class="box"></i>تبلت</a>

                            </div>
                        </div>
                    </div> <!-- /categories -->
                    <!--  ==========  -->
                    <!--  = Prices slider =  -->
                    <!--  ==========  -->
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" href="#filterPrices">قیمت <b class="caret"></b></a>
                        </div>
                        <div id="filterPrices" class="accordion-body in collapse">
                            <div class="accordion-inner with-slider">
                                <div class="jqueryui-slider-container">
                                    <div id="pricesRange"></div>
                                </div>
                                <input type="text" data-initial="432" class="max-val span1 pull-right" disabled />
                                <input type="text" data-initial="99" class="min-val span1" disabled />
                            </div>
                        </div>
                    </div> <!-- /prices slider -->
                    <!--  ==========  -->
                    <!--  = Color filter =  -->
                    <!--  ==========  -->
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#filterThree">رنگ <b class="caret"></b></a>
                        </div>
                        <div id="filterThree" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <a href="#" data-target="red" data-type="color" class="selectable detailed"><i class="box"></i> قرمز</a>
                                <a href="#" data-target="green" data-type="color" class="selectable detailed"><i class="box"></i> سبز</a>
                                <a href="#" data-target="blue" data-type="color" class="selectable detailed"><i class="box"></i> آبی</a>
                                <a href="#" data-target="pink" data-type="color" class="selectable detailed"><i class="box"></i> صورتی</a>
                                <a href="#" data-target="purple" data-type="color" class="selectable detailed"><i class="box"></i> بنفش</a>
                                <a href="#" data-target="orange" data-type="color" class="selectable detailed"><i class="box"></i> نارنجی</a>

                            </div>
                        </div>
                    </div> <!-- /color filter -->
                    <!--  ==========  -->
                    <!--  = Brand filter =  -->
                    <!--  ==========  -->

                    <a href="#" class="remove-filter" id="removeFilters"><span class="icon-ban-circle"></span> حذف همه فیلتر ها</a>

                </div>
            </aside> <!-- /sidebar -->
            <!--  ==========  -->
            <!--  = Main content =  -->
            <!--  ==========  -->
            <section class="span9 blocks-spacer">

                <!--  ==========  -->
                <!--  = Title =  -->
                <!--  ==========  -->
                <div class="underlined push-down-20">
                    <div class="row">
                        
                        <div class="span4">
                            <div class="form-inline sorting-by">
                                <label for="isotopeSorting" class="black-clr">چینش:</label>
                                <select id="isotopeSorting" class="span3">
                                    <option value='{"sortBy":"price", "sortAscending":"true"}'>بر اساس قیمت (کم به زیاد) &uarr;</option>
                                    <option value='{"sortBy":"price", "sortAscending":"false"}'>بر اساس قیمت (زیاد به کم) &darr;</option>
                                    <option value='{"sortBy":"name", "sortAscending":"true"}'>بر اساس نام (صعودی) &uarr;</option>
                                    <option value='{"sortBy":"name", "sortAscending":"false"}'>بر اساس نام (نزولی) &darr;</option>
                                    <option value='{"sortBy":"popularity", "sortAscending":"true"}'>بر اساس محبوبیت (کم به زیاد) &uarr;</option>
                                    <option value='{"sortBy":"popularity", "sortAscending":"false"}'>بر اساس محبوبیت (زیاد به کم) &darr;</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div> <!-- /title -->
                <!--  ==========  -->
                <!--  = Products =  -->
                <!--  ==========  -->
                <div class="row popup-products">
                    <div id="isotopeContainer" class="isotope-container">

                        @model List<saan_market.Models.Product>
                        @foreach (var item in Model)
                        {

                            <!--  ==========  -->
                            <!--  = Single Product =  -->
                            <!--  ==========  -->
                            <div class="span3 filter--trousers" data-price="1087" data-popularity="4" data-size="xs|s|l|xl" data-color="pink|orange" data-brand="naish">
                                <div class="product">
                                    <div class="product-img">
                                        <div class="picture">
                                            <!--        <img width="540" height="374" alt="" src="images/dummy/products/product-3.jpg" /> -->
                                            @if (item.Pictures.Count > 0)
                                            {
                                                <img width="540" height="374" src="@Url.Content(item.Pictures.First().path.Replace(Request.ServerVariables["APPL_PHYSICAL_PATH"], "~/").Replace(@"\", "/"))" alt="Image" />
                                            }
                                            else
                                            {
                                                <img width="540" height="374" alt="" src="~/Content/images/placeholder.png" />
                                            }
                                            <div class="img-overlay">
                                                @Html.ActionLink("توضیحات بیشتر", "DisplayProduct", "Product", new { productId = item.id }, new { @class = "btn more btn-primary" })
                                                <a class="btn buy btn-danger">
                                                    <a class="btn buy btn-danger" href="#">اضافه به سبد خرید</a>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="main-titles no-margin">
                                        <div class="title">
                                            <h4>@Html.DisplayFor(m => item.price) تومان</h4>
                                        </div>
                                        <div class="no-margin isotope--title">
                                            <h5>@Html.DisplayFor(m => item.name)</h5>

                                        </div>
                                    </div>
                                    <p class="center-align stars">
                                        <span class="icon-star stars-clr"></span>
                                        <span class="icon-star stars-clr"></span>
                                        <span class="icon-star stars-clr"></span>
                                        <span class="icon-star stars-clr"></span>
                                        <span class="icon-star stars-clr"></span>

                                    </p>
                                </div> <!-- /single product -->
                            </div>
                        }


                    </div>
                </div>
                <hr />
            </section> <!-- /main content -->
        </div>
    </div>
</div> <!-- /container -->

