
@{
    ViewBag.Title = "انتخاب شیوه پرداخت";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />

<div class="container">
    <div class="row">

        <!--  ==========  -->
        <!--  = Main content =  -->
        <!--  ==========  -->
        <section class="span12">

            <div class="checkout-container">
                <div class="row">
                    <div class="span10 offset1">

                        <!--  ==========  -->
                        <!--  = Header =  -->
                        <!--  ==========  
                        <header>
                            <div class="row">
                                <div class="span2">
                                    <a href="index.html"><img src="images/logo-bw.png" alt="Webmarket Logo" width="48" height="48" /></a>
                                </div>
                                <div class="span6">
                                    <div class="center-align">
                                        <h1><span class="light">انتخاب</span> شيوه پرداخت</h1>
                                    </div>
                                </div>
                                <div class="span2">
                                    <div class="right-align">
                                    </div>
                                </div>
                            </div>
                        </header>

                        <!--  ==========  -->
                       
                        <!--  = Steps =  -->
                        <!--  ==========  -->
                        <div class="checkout-steps">
                            <div class="clearfix">
                                <div class="step done">
                                    <div class="step-badge"><i class="icon-ok"></i></div>
                                    @Html.ActionLink("سبد خرید", "checkout_1", "Buy")
                                </div>
                                <div class="step done">
                                    <div class="step-badge"><i class="icon-ok"></i></div>
                                    @Html.ActionLink("آدرس ارسال", "checkout_2", "Buy")
                                </div>
                                <div class="step active">
                                    <div class="step-badge">3</div>
                                    شيوه پرداخت
                                </div>
                                <div class="step">
                                    <div class="step-badge">4</div>
                                    تاييد و پرداخت
                                </div>
                            </div>
                        </div> <!-- /steps -->
                        <!--  ==========  -->
                        <!--  = Payment =  -->
                        <!--  ==========  -->
                        <div class="shifted-left-45 clearfix">
                            <h3 class="no-margin"><span class="light">کارت</span> اعتباري</h3>
                            <p class="push-down-30">کارت های عضو شتاب قابل قبول هستند.</p>

                            <form action="#" method="post" class="form-horizontal form-checkout">
                                <div class="control-group">
                                    <label class="control-label" for="firstName">نام<span class="red-clr bold">*</span></label>
                                    <div class="controls">
                                        <input type="text" id="firstName" class="span4" required>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="lastName">نام خانوادگي<span class="red-clr bold">*</span></label>
                                    <div class="controls">
                                        <input type="text" id="lastName" class="span4" required>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="cardNum">شماره کارت اعتباري<span class="red-clr bold">*</span></label>
                                    <div class="controls">
                                        <input type="text" id="cardNum" class="span1 card-num-input center-align" maxlength="4">
                                        <input type="text" class="span1 card-num-input center-align" maxlength="4">
                                        <input type="text" class="span1 card-num-input center-align" maxlength="4">
                                        <input type="text" class="span1 card-num-input center-align add-tooltip" maxlength="4"/> 
                                    </div>
                                    <!-- class="span1 card-num-input center-align add-tooltip" maxlength="4" >
                                    -->

                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="cvc">CVC or CVS<span class="red-clr bold">*</span></label>
                                    <div class="controls">
                                        <input id="cvc" type="text" class="span1 center-align add-tooltip" maxlength="3" required>
                                    </div>
                                    <!-- class="span1 center-align add-tooltip" data-title="سه یا چهار رقم آخر نوشته شده بر پشت کارت">
                                    -->

                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="exp">تاريخ انقضا<span class="red-clr bold">*</span></label>
                                    <div class="controls">
                                        <select id="exp" class="input-small month-push-right">
                                            <option value="-1">ماه</option>
                                            <option value="1">01</option>
                                            <option value="2">02</option>
                                            <option value="3">03</option>
                                            <option value="4">04</option>
                                            <option value="5">05</option>
                                            <option value="6">06</option>
                                            <option value="7">07</option>
                                            <option value="8">08</option>
                                            <option value="9">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>

                                        </select>
                                        <select id="exp" class="input-small">
                                            <option value="-1">سال</option>
                                            <option value="1394">1394</option>
                                            <option value="1395">1395</option>
                                            <option value="1396">1396</option>
                                            <option value="1397">1397</option>
                                            <option value="1398">1398</option>
                                            <option value="1399">1399</option>

                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <hr />

                        <p class="right-align">
                            در مرحله بعدي شما قادر هستيد سفارشتان را بازبيني کرده و آن را تاييد کنيد &nbsp; &nbsp;
                            <div class="btn btn-primary higher bold">

                                @Html.ActionLink("ادامه", "checkout_4", "Buy")
                                </div>
                        </p>


                    </div>
                </div>
            </div>


        </section> <!-- /main content -->

    </div>
</div> <!-- /container -->
